name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.13'

    - name: Create release directory
      run: mkdir -p release

    - name: Build all using Makefile
      run: make all

    - name: List built artifacts
      run: ls -lh release/

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: stowaway-all-platforms
        path: release/
